.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
build
captures

# Gradle files
.gradle/
build/

# Android Studio files
.idea/
*.iml

# MAC auto-gen files
.DS_Store

# jni obj files
jni/*/obj/*
